# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/slnx.sqlite
.vs/GameQuora/FileContentIndex/9b5f1a64-a4bb-4f5f-8058-85895a7a7d4e.vsidx
.vs/GameQuora/FileContentIndex/64f815f1-4cdc-42a8-b366-d96ae686b922.vsidx
.vs/GameQuora/FileContentIndex/84e35c0d-24ba-442d-a2fe-0ff19ff8127c.vsidx
.vs/GameQuora/FileContentIndex/81784da2-cd06-40d0-bbd0-9b70ae46b21c.vsidx
.vs/GameQuora/FileContentIndex/d2387fcc-f3b4-4775-b607-126324ab8dc5.vsidx
.vs/GameQuora/v17/.wsuo
.vs/slnx.sqlite
.vs/GameQuora/FileContentIndex/62836b77-5ba0-4674-85ea-81a94f839426.vsidx
.vs/GameQuora/FileContentIndex/81784da2-cd06-40d0-bbd0-9b70ae46b21c.vsidx
.vs/GameQuora/v17/.wsuo
.vs/slnx.sqlite
.vs/GameQuora/FileContentIndex/5c9f26b6-947b-4173-af63-b6e23f3bec56.vsidx
.vs/GameQuora/FileContentIndex/8e5d6703-4525-4d84-85a2-2cc62a64ed0a.vsidx
.vs/GameQuora/FileContentIndex/81784da2-cd06-40d0-bbd0-9b70ae46b21c.vsidx
.vs/GameQuora/FileContentIndex/f8cc7352-7c77-4b55-b905-c85df2c76c70.vsidx
.vs/GameQuora/v17/.wsuo
.vs/slnx.sqlite
.vs/GameQuora/FileContentIndex/81784da2-cd06-40d0-bbd0-9b70ae46b21c.vsidx
.vs/GameQuora/v17/.wsuo
.vs/slnx.sqlite
.vs/GameQuora/FileContentIndex/81784da2-cd06-40d0-bbd0-9b70ae46b21c.vsidx
.vs/GameQuora/v17/.wsuo
