<div class="navhm">
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid">
          <div class="input-group">
            <img src="\assets\bg.jpeg" class="rounded-circle" alt="...">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </form>
      </nav>
      <div class="linav">
        <li>
            <div class="btn">Ask</div>
        </li>
        <li>
            <div class="btn">Answer</div>
        </li>
        <li>
            <div class="btn">Post</div>
        </li>
    </div>
</div>