<app-navbar></app-navbar>
<div class="row">
    <div class="col slide1" >
  <div class="side2">
    <div class="sidebtn"> + create post</div>
    <ul class="lis1">
      <li>
        Battel game 
      </li>
      <li>
       Action game
      </li>
      <li>
        Online game
      </li>
      <li>
        Offline game
      </li>
      <li>
        Race game
      </li>
    </ul>
  </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>