

<div class="regpage">
  <div class="input-box  sign-in">
    <div class="input-out">
    <form [formGroup]="loginpage">
      <span class="logo1">Game</span><span class="logo2">Quora</span>
      <h2>Login </h2>
      
      <div class="input-group mb-3">
      <input type="text" class="form-control"  name="useremail" formControlName="useremail"  >
      <label class="lab">UserEmail<span class="error1" *ngIf="this.validate.validation(loginpage,'useremail')">*Enter the Email</span></label>
      </div>
      <div class="input-group mb-3">
       
      <input type="password" class="form-control"  name="pass" formControlName="pass">
      <label class="lab">Password<span class="error1" *ngIf="this.validate.validation(loginpage,'pass')">*Enter password</span></label>
      </div>
      <div class="rem">
        <span><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot Password?</a></span>
      </div>
      <button type="button" class="btn btn-outline-warning" (click)="logininto()">SignIn</button>

      <div class="signup">
        <span>Don't have an account ?<a  (click)="signUp()" class="signInbtnlink"> Register</a></span>
      </div>
      <div class="social-ic">
        <span>Or sign in with</span>
        <div class="social-icon">
          <a href="#"><i class='bx bxl-google'></i></a>
          <a href="#"><i class='bx bxl-discord-alt' ></i></a>
          <a href="#">  <i class='bx bxl-facebook-square' ></i></a>
        </div>
      </div>
    </form>
  </div>
  </div>

  <div class="input-box sign-up">
    <div class="input-out">
    <form action="" [formGroup]="regpage">
      
      <span class="logo1">Game</span><span class="logo2">Quora</span>
      <h2 class="signlog">Sign In</h2>
      
      <div class="input-group mb-3">
        
      <input type="text" class="form-control" name="fullname" formControlName="fullname"  >
      <label class="lab">Fullname<span class="error1" *ngIf="this.validate.validation(this.regpage,'fullname')">*Enter the Fullname</span></label>
      </div>
      <div class="input-group mb-3">
      
        <input type="email" class="form-control"  name="regemail" formControlName="regemail" >
        <label class="lab">Email<span class="error1" *ngIf="this.validate.validation(this.regpage,'regemail')">*Enter the Email</span></label>
        </div>
        <div class="input-group mb-3">
      
          <input type="text" class="form-control" name="mobilenumber" formControlName="mobilenumber"  >
          <label class="lab">mobile no<span class="error1" *ngIf="this.validate.validation(this.regpage,'mobilenumber')">*Enter the MonileNo</span></label>
          </div>
      <div class="input-group mb-3">
       
      <input type="password" class="form-control" name="password" formControlName="password">
      <label class="lab">Password<span class="error1" *ngIf="this.validate.validation(this.regpage,'password')">*Enter the password</span></label>
      </div>
      <div class="input-group mb-3">
       
        <input type="password" class="form-control" name="confirmpassword" formControlName="confirmpassword" >
        <label class="lab">confirm Password<span class="error1" *ngIf="this.validate.validation(this.regpage,'confirmpassword')">*password</span></label>
        </div>
      <div class="rem">
        <span><input type="checkbox" > I agree to the terms & condtions</span>
      </div>
      <button type="button"   class="btn btn-outline-warning" (click)="signuppage()">Submit</button>

      <div class="signup">
        <span>already have an account ?<a  (click)="LoginUp()" class="signUpbtnlink"> Login</a></span>
      </div>
    </form>
  </div>
  </div>













  <div class="formove">

  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span class="logo1">Game</span><span class="logo2">Quora</span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          <form class="forgot-form" [formGroup]="forgotpage">
            <!-- <div class="mb-3">
              
              <input type="text" class="form-control" id="recipient-name">
            </div> -->
            <div class="forgroup">
              <input type="text" class="form-control" placeholder="Email/PhoneNo"  aria-label="Recipient's username" aria-describedby="button-addon2">
            
            <button class="btn-forbtn btn-outline-secondary" type="button" id="button-addon2">GetOtp</button>
        
              <input type="text" class="form-control" placeholder="Enter OTP" aria-label="Recipient's username" aria-describedby="button-addon2">
            
            <button class="btn-forbtn btn-outline-secondary" type="button" id="button-addon2">Verify</button>
            </div>
<hr>

<div class="forgroup"><span class="forval"   *ngIf="!(this.matchPassword(this.forgotpage.value.newpassword,this.forgotpage.value.confirmpassword))">Password didn't match</span>
<input type="text" class="form-control" placeholder="New Password" formControlName="newpassword" name="Password"  aria-label="Recipient's username" aria-describedby="button-addon2">
</div>
<div class="forgroup">
<input type="text" class="form-control" placeholder="confirm password"  formControlName="confirmpassword" name="confirmPassword"  aria-label="Recipient's username" aria-describedby="button-addon2">
</div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="forgotbtn()"  class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  </div>












































  <!-- <div class="input-box  forgot-pass">
    <div class="input-out">
    <form [formGroup]="loginpage">
      <span class="logo1">Game</span><span class="logo2">Quora</span>
      <h2>Forgotpassword </h2>
      
      <div class="input-group mb-3">
      <input type="text" class="form-control"  name="useremail" formControlName="useremail"  >
      <label class="lab">UserEmail<span class="error1" *ngIf="this.validate.validation(loginpage,'useremail')">*Enter the Email</span></label>
      </div>
      <div class="input-group mb-3">
       
      <input type="password" class="form-control"  name="pass" formControlName="pass">
      <label class="lab">Password<span class="error1" *ngIf="this.validate.validation(loginpage,'pass')">*Enter password</span></label>
      </div>
      <div class="rem">
        <span><a href="">Forgot Password?</a></span>
      </div>
      <button type="button" class="btn btn-outline-warning" (click)="logininto()">SignIn</button>

      <div class="signup">
        
        <span>Don't have an account ?<a  (click)="signUp()" class="signInbtnlink"> Register</a></span>
      </div>
      <div class="social-ic">
        <span>Or sign in with</span>
        <div class="social-icon">
          <a href="#"><i class='bx bxl-google'></i></a>
          <a href="#"><i class='bx bxl-discord-alt' ></i></a>
          <a href="#">  <i class='bx bxl-facebook-square' ></i></a>
        </div>
      </div>
    </form>
  </div>
  </div> -->
  
<!-- </div> -->
























































